/* Select difficulty box*/
button {
  margin: 1vw;
  padding: 1vw;
}

#selectDiff {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  flex-flow: column;
  width: fit-content;
  padding: 1rem;
  background-color: steelblue;
  color: whitesmoke;
  border-radius: 10%;
}

#selectDiff h1 {
  margin: 0;
  text-align: center;
}

#selectDiff h2 {
  margin: 1rem;
}



/* Hangman box*/
#hangmangame {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border: solid 1px black;
  padding: 0px 0px 20px 0px;
}

#hangmangame h1 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  border-bottom: solid 1px black;
  padding: .2rem;
  margin-bottom: 10px;
}

/* wordGuessBox */
#wordGuessBox {
  margin-top: 10px;
  padding: 1rem;
  border-top: solid 1px black;
}

/* Endstate box */
#endGame {
  display: none;
}

/*  */
#theWord,
#wrongGuess {
  display: flex;
}

.test,
.wrongGuess {
  display: flex;
  width: 12px;
  flex-flow: column;
  margin-left: 5px;
  background-color: black;
  border-radius: 30%;
  padding: 8px;
  text-align: center;
  color: white;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}
